.flex {
  display: flex;
}

.audioPlayer {
  font-family: Arial, Helvetica, sans-serif;
  width: 300px;
  max-width: 100%;
  background: rgba(0, 0, 0, 0.7);
  height: 132px;
  padding: 0px;
  color: #fff;
  position: fixed;
  right: 0;
  top: calc(50% - 300px);
  transition: transform 0.3s ease, height 0.3s ease;
  transform: translateX(270px);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  overflow: hidden;
  z-index: 100;
}

.open {
  transform: translateX(0);
  height: 300px;
}

.content {
  padding: 20px;
}

.playButton {
  width: 23px;
  cursor: pointer;
}

.playButton2 {
  width: 33px;
  cursor: pointer;
}

.playButton:hover,
.playButton2:hover {
  filter: brightness(0.85);
}

.dataContainer {
  display: none;
  gap: 10px;
  margin-top: 20px;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.playerContainer {
  width: 100%;
  display: flex;
  gap: 10px;
  margin-top: 2px;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  transition: transform 0.3s ease, width 0.3s ease;
}

.sideButtons {
  display: flex;
  padding-top: 11px;
  flex-direction: column;
  gap: 10px;
  width: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.note {
  width: 16px !important;
}

.header {
  width: 100%;
  height: 30px;
  background: #667;
  color: white;
  overflow: hidden;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.3s ease;
}

.openArrow img {
  width: 8px;
  margin-left: 12px;
  margin-top: 1px;
}

.openArrow {
  width: 30px;
  height: 30px;
  justify-content: start;
  align-items: center;
  display: flex;
}

.openArrow:hover {
  background: #3f3f46;
}

.progressBar {
  height: 7px;
  background-color: #fff;
  width: 80%;
}

.progressBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0 !important;
  height: 0 !important;
  background: transparent;
  border: none;
  opacity: 0 !important;
}

.progressBar::-moz-range-thumb {
  width: 0 !important;
  height: 0 !important;
  background: transparent;
  border: none;
  opacity: 0 !important;
}

.progressBar::-ms-thumb {
  width: 0 !important;
  height: 0 !important;
  background: transparent;
  border: none;
  opacity: 0 !important;
}

.trackControls {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.volumeControl {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 40px;
  margin: 0 auto;
}

.volumeSlider {
  -webkit-appearance: none;
  appearance: none;
  width: 20%;
  height: 4px;
  background: #ccc;
  outline: none;
  transform: rotate(-90deg);
  transform-origin: center;
  cursor: pointer;
  display: none;
}

.volumeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: #0075ff;
  border-radius: 100%;
  cursor: pointer;
}

.volumeSlider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background: #0075ff;
  border-radius: 100%;
  cursor: pointer;
}

.volumeSlider::-ms-thumb {
  width: 12px;
  height: 12px;
  background: #0075ff;
  border-radius: 100%;
  cursor: pointer;
}

.playlistContainer {
  width: 80%;
  margin: 0 auto;
  padding-top: 2px;
  margin-top: 12px;
  height: 110px;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 13px;
  line-height: 22px;
}

.playlistContainer::-webkit-scrollbar {
  width: 6px;
}

.playlistContainer::-webkit-scrollbar-thumb {
  background-color: #666677;
  border-radius: 3px;
}

.playlistContainer::-webkit-scrollbar-thumb:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.spacer {
  margin: 0 auto;
  margin-top: 10px;
  border-top: 1px solid #666677;
  width: 80%;
}

.playlistItem {
  display: flex;
  padding-right: 8px;
  justify-content: space-between;
}

.playlistItem:hover {
  color: #f1f1f1;
  cursor: pointer;
}

.headerButton {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerButton:hover {
  background: #3f3f46;
}

.headerButton img {
  width: 17px;
}

.headerButton2 {
  width: 30px;
}

.infoContainer {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 13px;
  height: 230px;
  display: none;
}

.infoContainer a {
  color: #fff;
}
